<div class="row">
  <div class="col s6 offset-s3">
    <h6 class="center"><%= @cone.name %></h6>

    <div class="card">
      <%= form_for :cone, url: cone_path(@cone.key), method: :PUT do |form| %>
        <div class="row ">
          <div class="input-field group col s12">
            <%= form.text_field :message %>
            <%= form.label :message, 'Message', class: 'input-label'%>
          </div>

          <div class="input-field col s12">
            <%= form.radio_button :measure, 'notice' %>
            <%= form.label :measure_notice, 'Notice' %>

            <%= form.radio_button :measure, 'block' %>
            <%= form.label :measure_block, 'Block' %>

            <%= form.radio_button :measure, 'disabled' %>
            <%= form.label :measure_disabled, 'Disable this Cone' %>
          </div>

          <div class="input-field col s12">
            <%= form.submit 'save', class: 'waves-effect waves-light btn' %>
            <%= link_to 'cancel', cones_path, class: 'waves-effect waves-light btn grey lighten-1' %>
          </div>
        </div>
      <% end  %>
    </div>

  </div>
</div>
